@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9fa;
  --color-primary-100: #dcf1f2;
  --color-primary-200: #bee3e6;
  --color-primary-300: #93ced2;
  --color-primary-400: #62adb4;
  --color-primary-500: #469199;
  --color-primary-600: #3c767f;
  --color-primary-700: #356168;
  --color-primary-800: #325056;
  --color-primary-900: #2d454a;
  --color-primary-950: #1a2e32;
}


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tree-node-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.tree-node-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}